<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Consider local, or CDN-->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="/dashboard.js"></script>
    <style type="text/css">
        body, html
        {
            margin: 0; padding: 0; height: 100%; overflow: hidden;
        }
        #content
        {
            position:absolute; left: 0; right: 0; bottom: 0; top: 0px;
        }
    </style>
    <title>**TITLE**</title>
</head>
<body>
    <iframe id="theiframe" src="http://xkcd.org" width="100%" height="100%" frameborder="0">
        Your browser does not support iframes - Dashportal will not work
    </iframe>
</body>
</html>